.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/img/hero-bg.jpg");
    width: 100vw;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-title{
    padding: 100px 0px 100px 0px;
    margin: 0px;
    color: #fff;
    font-size: 100px;
    font-weight: 500;
}